* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
  background-image: url('https://img.freepik.com/free-vector/futuristic-technological-wallpaper_79603-1093.jpg?w=900&t=st=1667883347~exp=1667883947~hmac=363506ffce7fe6fd99e7bb06e1b3e1cc8977812043d7754839cb17e671fdf9ed');
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: royalblue;
  display: block;
  padding: 10px;
  width: 24%;
  margin: auto;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
  text-decoration: underline;
}

/* Change color on hover */
.topnav a:hover {
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: inherit;
  width: 75%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Add a card effect for articles */
.card {
  background-color: royalblue;
  padding: 20px;
  margin-top: 20px;

}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

h1, h2, h3 {
  font-size: x-large;
  font-family: "Arial";
  margin: 10px;
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
